{% extends 'retail/base.html' %}
{% load static %}
{% block content %}
<section class="py-5 text-center container">
    <img src="{% static 'images/electro1.jpg' %}" class="d-block w-100" alt="Photo">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light"> ЭЛЕКТРОСЕТЬ </h1>
            <p class="lead text-body-secondary">ПРОДАЕМ ЭЛЕКТРОНИКУ</p>
            <p class="lead text-body-secondary">вставляй свой штепсель - и погнали</p>
            <p>
                <a class="btn btn-primary" href="{% url 'retail:product_create' %}"
                   role="button">Создать продукт</a>
            </p>
            <p>
                <a class="btn btn-primary" href="{% url 'retail:product_list' %}"
                   role="button">Все продукты</a>
            </p>
        </div>
    </div>
</section>
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light"> НУЖНА ЭЛЕКТРОНИКА? ТЫ ПО АДРЕСУ </h1>
            <p class="lead text-body-secondary">ВСЕ ОТ ПОСТАВЩИКОВ</p>
            <p class="lead text-body-secondary">СОВЕТСКИЕ ЦЕНЫ</p>
            <p class="lead text-body-secondary">У НАС ЗАКУПАЮТСЯ ДЕПУТАТЫ</p>
        </div>
    </div>
</section>
{% endblock %}