{% extends 'retail/base.html' %}
{% load static %}
{% block content %}
<section class="py-5 text-center container">
    <img src="{% static 'images/smokedcoder1.jpg' %}" class="d-block w-100" alt="Photo">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light"> КОПЧЕНЫЙ ПРОГРАММИСТ </h1>
            <p class="lead text-body-secondary">НАШ ПРОД НЕ ГОРИТ, А ДЫМИТСЯ</p>
            <p class="lead text-body-secondary">кухня уровня assembler</p>
            <p>
                <a class="btn btn-primary" href="{% url 'retail:booking_create' %}"
                   role="button">Задеплоить столик</a>
            </p>
            <p>
                <a class="btn btn-primary" href="{% url 'retail:menu' %}"
                   role="button">Меню</a>
            </p>
        </div>
    </div>
</section>
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light"> ФЛОУ ПОХОДА К НАМ </h1>
            <p class="lead text-body-secondary">1. БРОНИРУЙ</p>
            <p class="lead text-body-secondary">2. ПРИХОДИ</p>
            <p class="lead text-body-secondary">if not забронировано: тоже приходи, в принципе ок</p>
            <p class="lead text-body-secondary">ОБЕДЫ, БАНКЕТЫ, НАСТОЙКИ, НАСТОЛКИ</p>
        </div>
    </div>
</section>
{% endblock %}