{% extends 'retail/base.html' %}
{% load static %}
{% block content %}
<div class="col-md-6 text-center container">
    <img src="{% static 'images/electro2.jpg' %}" class="d-block w-100" alt="Photo">
    <div class="card mb-4 box-shadow">
        <div class="card-body">
            <p class="card-text">
            <h2>САМАЯ ЗНОЙНАЯ СЕТЬ ПО ПРОДАЖЕ ЭЛЕКТРОНИКИ.</h2>
            <h6>Наши ценности: убийственный прайс, стильный выбор.</h6>
            </div>
        <div class="btn-group">
            <a class="btn btn-primary" href="{% url 'retail:index' %}"
               role="button">Назад</a>
        </div>
    </div>
</div>
{% endblock %}